<h2>thing: <%= @thing.description %></h2>
<p><a href="/things/#{@thing.id}/edit">Edit</a></p>
<p><a href="/things/new">Add Another Thing!</a></p>
<p><a href="/account">Back to Things</a></p>
<p><a href="/logout">Log Out</a></p>
